.primary-button {
    background-color: #263c82;
    padding: 10px;
    width: 80px;
    border: none;
    color: white;
    margin: 10px;
    border-radius: 3px;
}

.primary-button:hover {
    background-color: #3754b0;
}

.primary-button:focus {
    outline: none;
}

.disabled-button {
    background-color: #c4c4c4;
    padding: 10px;
    width: 80px;
    border: none;
    color: white;
    margin: 10px;
    border-radius: 3px;
}

.disabled-button {
    outline: none;
}